.securitycamera{

    min-width: 100vh;
    min-height: 100vh;
    position: relative;
}

.logout{

    margin: 30px;
    position: absolute;
    
}

.selector{

    right: 0px;
    position: absolute;
    margin-right: 30px;
    margin-top: 40px;
}

.update{

    left: 0px;
    margin-top: 80px;
    position: absolute;
    
}

.update2{

    right: 0px;
    margin-top: 120px;
    position: absolute;
    
}

.update3{

    right: 0px;
    margin-top: 150px;
    position: absolute;
    
}